@media screen and (max-width:1090px) {
  .underline {
    border-bottom: 2px solid #fff;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .header h1 {
    text-align: none;
    line-height: normal;
  }

  .header .menu_link {
    display: flex;
    column-gap: 20px;
    list-style: none;
  }

  .header .menu_link a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Bahnschrift Light;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 4px;
  }

  .navigation {
    position: fixed;
    top: 90px;
    left: 0px;
    display: none;
    float: left;
    height: 100%;
    overflow: hidden;
    background-color: rgb(64, 64, 66);
    width: 210px;
    box-shadow: 10px 0 0 rgb(156, 156, 156);
    font-family: Bahnschrift Light;
  }

  #container,
  #container2 {
    position: static;
    width: 100%;
    float: none;
    margin: 150px auto 100px auto;
  }
}

@media screen and (max-width:890px) {
  #container {
    margin: 150px auto 100px auto;
    width: 800px;
  }

  #info {
    padding: 30px;
    margin: 70px 0px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-height: 580px;
    box-shadow: 3px 3px 4px #eee, -3px -3px 4px #eee;
    z-index: -1;
  }

  #info #table {
    width: 100%;
    border-spacing: 0px;
    margin-bottom: 30px;
    font-family: arial;
    overflow: auto;
  }
}

@media screen and (max-width:850px) {
  .header h1 {
    font-size: 30px;
  }

  header .menu_link ul {
    list-style: none;
    display: flex;
    column-gap: 20px;
  }

  header .menu_link a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Bahnschrift Light;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 4px 2px;
  }
}