
*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}


body{
  background-color: rgb(243,243,243);
}

.logo{
  display: flex;
  justify-content:center;
  flex-flow:column wrap;
  width:140px;
  height:90px;
  padding: 0px 16px;
  font-family:arial;
   background-color:rgb(229,54,61);
   line-height:22px;
}

.logo #text1{
  display: block;
  color:#fff;
  font-size:45px;
  font-weight:bold; 
}

.logo #text2{
  display: block;
  color:rgb(255,198,104);
  text-align:right;
  font-size:22px;
  font-weight:bold; 
}



#formlog{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  box-shadow: 1px 5px 30px rgb(188,188,195);
  /*border:2px solid #ccc;*/
  padding:0px 30px 15px 30px; 
  border-radius:15px;
}


label{
  font-size: 19px;
  font-family: arial;
}

#formulario input{
	width: 100%;
	height:40px;
    margin: 12px 0px;
    border-radius:12px;
    outline:none;
    font:normal 19px arial;
}

#formulario #textemail,#formulario #textpassword{
   padding-left: 10px;
   border:1px solid rgb(95,27,84);
}

#formulario input[type="submit"]{
	background-color: rgb(171,11,35);
	color:white;
	height:45px;
	border:none;
	cursor:pointer;
	font:normal 22px arial;
} 



#formulario p{
	margin-top:20px;
}


span{
  color: red;
}

